h1{ text-align: center;}
#p1{font-size: 1.25em; font-weight: bold;}
.backround{
    background-color: #1D2C40;
}
body{
    font: normal normal normal 16pt/20pt Arial, Verdana, Georgia;
}
table { border-collapse: collapse; border-radius: 0.6em; overflow: hidden; margin: auto;}
td, tr{
    
    
    
    text-align: center;
}
td{
    padding: 0 auto;
}
.darkOrange{
    color: darkorange;
}
.dGreen{
    color: #465932;
}
.mGreen{
    color:#748C4F;
}
.lGreen{
    color: #ADBF69
}
.dBlue{
    color: #1D2C40;
}
.lBlue{
    color: #B8D0D9;
}


