#p1 {background-color:rgba(255, 0, 255, 0.062); font-style: italic; color: cadetblue;}
#s1 {background-color:rgba(0, 255, 64, 0.3); font-weight: 800;}
#op1 {background-color:rgba(255, 0, 0, 0.3); color: aqua;}
#op2 {background-color:rgba(9, 255, 0, 0.3);}
#op3 {background-color:rgba(0, 17, 255, 0.3);}
table { width: 100%; border-collapse: collapse;}
table, tr, td, th {border: 1px solid rgba(43, 70, 226, 0.295);}
body {font-family: 'Times New Roman', Times, serif;}